ul{list-style: none;padding:0;margin: 0}
a{ color: inherit;text-decoration: none}


body{
    background: #ccc; 
}
.top-bar{
    height: 35px;
    /* border: 1px solid red; */
    margin: 15px 50px 0;
    text-align: center;
    line-height: 35px;
    background: #282828;
    color: white;
    font-size: 25px;
    border-bottom: 0px ;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.57);
}
.main-box{
    display: flex;
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
    align-content: space-around;
    /* border:1px solid red;  */
    margin:0 50px 15px;
    border-radius: 2px;
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.57);
}
.content-box{
    /* border:1px solid blueviolet; */
    width: 100%
}
.layout-one{
    width:220px;
    border: 1px solid black;
    border-bottom:none
}
.music-list{
    border-bottom: 1px solid #777;
    font-size: 20px;
    text-align: center;
    padding: 3px 0
}
.layout-two{
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    margin-top: 22px
}
.picture{
 
}
.banner{
    height: 33vh;
    width:100%;
    /* border:1px solid green; */
    margin-bottom:10px;
    background: url("../images/31.png");
    background-position: center center;
    background-size: cover;
    display: flex;vertical-align: top
}
.logo{
    width: 16vw;
    height: 33vh;
    border: 1px solid red;
    margin-left: 5px
}
.new-music{
    width: 36vw;
    border: 1px solid black;
    height: 50vh;
    /* margin: 15px; */
    /* padding: 20px */
}
.new-music>form{

}
.new-music>form>.row{
    margin: 15px;
}
.new-music>form input[type=text]{
    padding: 0 8px;
    display: inline-block;
    font-size: 15px;
    width:25vw;
    height:6vh;
    border-radius: 4px
}
.page-title{
    font-size:20px;
    margin: 5px;
}
.layout-one ul{
    height: 85vh;
    overflow: auto;
}
.layout-one>ul::-webkit-scrollbar{
    display:none;
  }
.layout-one li{
    padding: 10px;
    margin:0;
    border-bottom: 1px solid #555;
}
.layout-one li.active{
    background: #282828
}
.upload-area{
    width: 33vw;;
    height: 50vh;
    /* border: 1px solid gold; */
    /* margin: 15px;  */
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.57); */
border: 1px  dashed black
}
.upload-button{
    width: 25vw;
    height: 30vh;
    text-align: center;
    line-height: 30vh;
    /* border:1px solid red; */
    margin: 40px auto 20px;
}